body {
	background: #1d3030;
}

h1 {
	position: fixed;
	top: 0.1%;
	left: 8%;
	color: #00e600;
	text-transform: uppercase;
	font-size: 200%;
}

input {
	position: fixed;
	height: 4.5%;
	top: 19%;
	left: 8%;
	background-color: #70ff73;
	width: 70%;
	border-radius: 6px;
	border: 1px solid;
}
.delete {
	display: none;
}

p{
	position: fixed;
	left: 8%;
	top: 7.5%;
	width: 70%;
	color: white;
}
.red{
	color: #ff3333;
}
.orange{
	color: orange;
}

ul{
	position: fixed;
	right: 15%;
	top: 22%;
	min-width: 75%;
}

li{
	height: 40;
	font-size: 170%;
	list-style: none;
	background: #dee3de;
	text-transform: capitalize;
	border: 1px solid;
	border-radius: 6px;
	margin: 2%;
}
.back_red{
	background: #ff3333;
}
.back_orange{
	background: orange;
}
.back_green{
	background: #8eff42;
}

button{
	float: right;
	height: 40;
	width: 10%;
	border: 1px solid;
	border-radius: 5px;
	background: #dee3de;
}